// set custom hex colors
$siteBgColorCustom:    #F2E9DC;   // linen*
$sidebarBgColorCustom: #EEE3D2;   // antique white*
$textColorCustom: #303546;        // gunmetal*
$sidebarTextColorCustom: #4b5e6b; // black coral*
$headlineColorCustom: #7C0B2B;    // claret*
$headingColorCustom: #7C0B2B;     // claret*
$bodyLinkColorCustom: #4b5e6b;    // black coral*
$navLinkColorCustom: #4b5e6b;     // black coral*
$sidebarLinkColorCustom: #4b5e6b; // black coral*
$footerTextColorCustom: #4b5e6b;  // black coral*
$buttonTextColorCustom: #F6F5ED;  // white
$buttonHoverTextColorCustom: #FFFFFF;
$buttonBgColorCustom: #4b5e6b;    // black coral*
$buttonHoverBgColorCustom: #7C0B2B;// claret*
$borderColorCustom: #cfd7de;       // peri*
